{% extends "ticket_tracker/layout.html" %}
{% load static %}

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
<!-- Custom styles for this template -->
<link href="{% static 'ticket_tracker/all_projects.css' %}" rel="stylesheet">

{% block body %}
  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">All Projects</h1>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for project in projects %}
        <div class="col">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">{{ project.name }}</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">{{ project.assigned_users.count }} Assigned Users</h1>
            <p>{{ project.description }}</p>
            <button type="button" class="w-100 btn btn-lg btn-primary" onclick="window.location.href='{% url 'project' project_name=project.name %}'">Go To Project</button>
          </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>

  <ul class="pagination justify-content-center">
    {% if projects.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for num in projects.paginator.page_range %}
        {% if projects.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

        {% elif num > projects.number|add:'-3' and num < projects.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    {% if projects.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>

  

<script src="{% static 'ticket_tracker/test.js' %}"></script>
{% endblock %}