{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Ticket Tracker{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link href="{% static 'ticket_tracker/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Stef's Ticket Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'new_project' %}">New Project</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'all_projects' %}">All Projects</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Create Ticket</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">All Tickets</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signout' %}">Sign Out</a>
                </li>
                
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Sign-in</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            </ul>
            </div>
        </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>